body {
    margin: 0;
    font-family: 'Comic Sans MS', sans-serif;
    color: #fff;
    background-color: #6a0dad;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.nav a {
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    transition: transform 0.3s;
}

.nav a:hover {
    transform: scale(1.2);
}

.nav a::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}

.header, .projects-section, .contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    flex-direction: column; /* Вертикальное расположение по умолчанию */
}

.header {
    flex: 0 0 20%;
    background: linear-gradient(135deg, #45006c 0%, #8b01a6 100%);
    width: 100%; /* Полная ширина для адаптивности */
}

.header h1 {
    font-size: 4vw; /* Адаптивный размер шрифта заголовка */
    text-transform: uppercase;
    letter-spacing: 5px;
    animation: wave 2s ease-in-out infinite alternate;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.projects-section {
    flex: 0 0 70%;
    background: linear-gradient(135deg, #8b01a6 0%, #45006c 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: nowrap; /* По умолчанию проекты располагаются в одну строку */
    box-sizing: border-box;
}

.project {
    flex: 0 0 calc(30% - 30px); 
    max-width: calc(30% - 30px);
    min-width: 250px; 
    text-align: center;
    box-sizing: border-box;
}

.project img, .project video {
    max-width: 100%;
    height: auto;
    border: 5px solid #fff;
    border-radius: 10px;
}

.project h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}


@media (min-width: 768px) {
    .projects-section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .project h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .project h2 {
        font-size: 1em;
    }
}


@media (max-width: 480px) {
    .header h1 {
        font-size: 8vw;
    }

    .project {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .project h2 {
        font-size: 1em;
    }
}

.contact-section {
    flex: 0 0 10%;
    background: linear-gradient(135deg, #45006c 0%, #8b01a6 100%);
    width: 100%;
}

.contact-section p {
    font-size: 1.5em;
}

.mail {
    color: #ffffff;
    text-decoration: none;
}
